<%# -*- coding: utf-8 -*- %>

<h1>API一覧</h1>

<div id="index">
	<h3>EDINET</h3>
	<p>EDINETが公表するデータをAPIで提供します。</p>
	<span>⇒<%= link_to "http://yaepi.herokuapp.com/edinet", { :controller => "edinet", :action => "index" } %></span>
</div>