<%# -*- coding: utf-8 -*- %>

<h1>EDINET API</h1>

<div id="edinet_index">
	<h3>EDINETコード</h3>
	<p>EDINETで公表されている企業データを提供します。</p>
	<span>⇒<%= link_to "http://yaepi.herokuapp.com/edinet/code", { :controller => "edinet/code", :action => "index" } %></span>
</div>