<%# -*- coding: utf-8 -*- %>

<h1>EDINETコードリストAPI</h1>

<div id="outline">
	<h3>概要</h3>
	<p>EDINETが公表しているEDINETコードリストの検索機能を提供します。</p>
</div>

<div id="request_specification">
	<h3>リクエスト仕様</h3>
	<div id="request_url">
		<h4>リクエストURL</h4>
		<p>http://yaepi.herokuapp.com/api/edinet/code[.フォーマット]?[パラメータ1[&パラメータ2...]]</p>
		<ul>
			<li>フォーマット
				<ul>
					<li>html：html形式でデータを取得したい時に指定します。何も指定しなければhtml形式で取得します。</li>
					<li>xml：xml形式でデータを取得したい時に指定します。</li>
					<li>json：json形式でデータを取得したい時に指定します。</li>
				</ul>
			</li>
			<li>パラメータ
				<p>"検索項目=検索値"の形式で指定してください。"&"で連結することで複数指定できます。</p>
				<ul>
					<li>検索項目：検索したい項目を指定します。</li>
					<li>検索値：検索する値を指定します。</li>
				</ul>
			</li>
		</ul>
	</div>

	<div id="request_parameter">
		<h4>検索パラメータ</h4>
		<p>以下に検索パラメータの一覧を示します。</p>
		<p class="notes">※パラメータにはnullを指定することができます。</p>
		<p class="notes">※文字列を検索する場合はUTF-8でエンコードしてください。</p>
		<ul>
			<li>edinetCode/EDINETコード
				<ul>
					<li>6桁の英数字（完全一致）：指定したEDINETコードで提出者を検索します。</li>
				</ul>
			</li>
			<li>listing/上場区分
				<ul>
					<li>t：上場している提出者を検索します。</li>
					<li>f：非上場の提出者を検索します。</li>
				</ul>
			</li>
			<li>consolidation/連結の有無
				<ul>
					<li>t：連結有りの提出者を検索します。</li>
					<li>f：連結無しの提出者を検索します。</li>
				</ul>
			</li>
			<li>capitalAbove/資本金下限
				<ul>
					<li>数値：指定した金額（単位：百万円）以上の資本金を有する提出者を検索します。</li>
				</ul>
			</li>
			<li>capitalFollowing/資本金上限
				<ul>
					<li>数値：指定した金額（単位：百万円）以下の資本金を有する提出者を検索します。</li>
				</ul>
			</li>
			<li>settlementMonth/決算月
				<ul>
					<li>数値：指定した決算月の提出者を検索します。</li>
				</ul>
			</li>
			<li>settlementDay/決算日
				<ul>
					<li>数値：指定した決算日の提出者を検索します。</li>
				</ul>
			</li>
			<li>nameJa/提出者名
				<ul>
					<li>文字列（部分一致）：指定した文字列を提出者名に含む提出者を検索します。</li>
					<p class="notes">※UTF-8でエンコードしてください。</p>
				</ul>
			</li>
			<li>nameEn/提出者名（英字）
				<ul>
					<li>文字列（部分一致）：指定した文字列を提出者（英字）に含む提出者を検索します。</li>
					<p class="notes">※UTF-8でエンコードしてください。</p>
				</ul>
			</li>
			<li>nameYomi/提出者名（ヨミ）
				<ul>
					<li>文字列（部分一致）：指定した文字列を提出者（ヨミ）に含む提出者を検索します。</li>
					<p class="notes">※UTF-8でエンコードしてください。</p>
				</ul>
			</li>
			<li>address/所在地
				<ul>
					<li>文字列（部分一致）：指定した文字列を所在地に含む提出者を検索します。</li>
					<p class="notes">※UTF-8でエンコードしてください。</p>
				</ul>
			</li>
			<li>industry/提出者業種
				<ul>
					<li>文字列（部分一致）：指定した文字列を提出者業種に含む提出者を検索します。</li>
					<p class="notes">※UTF-8でエンコードしてください。</p>
				</ul>
			</li>
			<li>securityCode/証券コード
				<ul>
					<li>4桁の数値（完全一致）：指定した証券コードで提出者を検索します。</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<div id="response_specification">
	<h3>レスポンス仕様</h3>

	<div id="response_format">
		<h4>提供フォーマット</h4>
		<ul>
			<li>html</li>
			<li>xml</li>
			<li>json</li>
		</ul>
	</div>

	<div id="response_data">
		<h4>提供データ</h4>
		<p>以下に項目と値の一覧を示します。</p>
		<p class="notes">※データソースにおいて項目に対する値が提供されていない場合はnullを格納しています。</p>
		<ul>
			<li>EDINETコード/edinetCode
				<ul>
					<li>6桁の英数字：提出者のEDINETコード</li>
				</ul>
			</li>
			<li>上場区分/listing
				<ul>
					<li>t：上場</li>
					<li>f：非上場</li>
				</ul>
			</li>
			<li>連結の有無/consolidation
				<ul>
					<li>t：有り</li>
					<li>f：無し</li>
				</ul>
			</li>
			<li>資本金/capital
				<ul>
					<li>数値：資本金の額（単位：百万円）</li>
				</ul>
			</li>
			<li>決算月/settlementMonth
				<ul>
					<li>数値：決算の月</li>
				</ul>
			</li>
			<li>決算日/settlementDay
				<ul>
					<li>数値：決算の日
						<p class="notes">※データソースにおいて"末日"と提供されている場合は決算月の末日を格納しています。</p>
						<p class="notes">※また、"2月末日"と表現されている場合は次回の2月末日を格納しています。（うるう年対応）</p>
					</li>
				</ul>
			</li>
			<li>提出者名/nameJa
				<ul>
					<li>文字列：提出者の日本語名</li>
				</ul>
			</li>
			<li>提出者名（英字）/nameEn
				<ul>
					<li>文字列：提出者の英語名</li>
				</ul>
			</li>
			<li>提出者名（ヨミ）/nameYomi
				<ul>
					<li>文字列：提出者のよみがな</li>
				</ul>
			</li>
			<li>所在地/address
				<ul>
					<li>文字列：提出者の所在地</li>
				</ul>
			</li>
			<li>提出者業種/industry
				<ul>
					<li>文字列：提出者の業種</li>
				</ul>
			</li>
			<li>証券コード/securityCode
				<ul>
					<li>4桁の数値：提出者の証券コード</li>
				</ul>
			</li>
		</ul>
	</div>
</div>