<!DOCTYPE html>
<html>
<head>
  <title>Yaepi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="pZZarLg8Aey4mXdbp7q-tvNgx6cUxCB_5EOtY4wFFV8" />
</head>
<body>

<div id="content">
	<%= yield %>
</div>

</body>
</html>
